# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# Frontend
/client/node_modules
/client/.env
/client/dist
/client/dist-ssr

# Backend
/server/node_modules
/server/build
/server/src/private.ts
/server/.env
/server/uploads/avatars/**
/server/uploads/devices/**
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
